  <div class="footer wrap">
      <ul class="copyright">
        <li>版权所有 ©&nbsp; <a href="http://bq69.com/blog/">最前端</a></li>
        <li><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备14061779号</a></li>
      </ul>
    </div>
  </body>
</html>